.searchBar {
  background-color: LightSteelBlue;
  padding: 15px;
}
.form {
  text-align: center;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  color: SteelBlue;
}
.input {
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 270px;
  height: 40px;
}
